<h1><%= title %></h1>
<p><%= author_detail.name %></p>
<p><%= author_detail.bio %></p>
<p><%= author_detail.profilePicturePath %></p>
<p><%= author_detail.deleteStatus %></p>
<p><%= author_detail.deleteReason %></p>

<a href="/authors/<%= author_detail.id %>/delete">Delete</a>
<a href="/authors/<%= author_detail.id %>/Update">Update</a>