<h1><%= title %></h1>

<form action="" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value=""> <br>
    <label for="authors">Author:</label>
    <select name="authors" id="authors">
        <% for(author of author_list) { %>
        <option value="<%= author.id %>"><%= author.name %></option>
        <% } %>
    </select>
    <br>
    <label for="subjects">Subject:</label>
    <select name="subjects" id="subjects">
        <% for(subject of subject_list) { %>
        <option value="<%= subject.id %>" 
          <% if(subject.id == subject_detail.id){ %>
              selected
          <% } %>     
        ><%= subject.name %></option>
        <% } %>
    </select>
    <br>
    <label for="description">Description:</label> <br>
    <textarea id="description" name="description" rows="10" cols="70" value="<%= book_detail.description %>"></textarea> <br>
    <label for="publisher">Publisher:</label> 
    <input type="text" name="publisher" id="publisher" value="<%= book_detail.publisher %>"> <br>
    <label for="publishDate">Publish Date:</label>
    <input type="date" name="publishDate" id="publishDate" value="<%= book_detail.publish_date %>">	<br>
    <label for="pageNumber">Page Number:</label>
    <input type="number" name="pageNumber" id="pageNumber" value="<%= book_detail.page_numbers%>">	<br>
    <label for="price">Price:</label>
    <input type="number" name="price" id="price" value="<%= book_detail.price %>">	<br>
    <label for="quantity">Quantity: </label>
    <input type="number" name="quantity" id="quantity" value="<%= book_detail.quantity %>">	<br>
    <label for="ISBN_tenDigits">ISBN 10:</label>
    <input type="text" name="ISBN_tenDigits" id="ISBN_tenDigits" value="<%= book_detail.ISBN_tenDigits %>">	<br>
    <label for="ISBN_thirteenDigits">ISBN 13:</label>
    <input type="text" name="ISBN_thirteenDigits" id="ISBN_thirteenDigits" value="<%= book_detail.ISBN_thirteenDigits %>">	<br>
    <label for="coverPicturePath">Cover Picture Path:</label>
    <input type="text" name="coverPicturePath" id="coverPicturePath" value="<%= book_detail.coverPicturePath %>">	<br>
    <label for="uniqueBarcode">Unique Barcode:</label>
    <input type="text" name="uniqueBarcode" id="uniqueBarcode" value="<%= book_detail.uniqueBarcode %>">	<br>
    
    <button type="submit">Submit</button> 
</form>
