<h1><%= title %></h1>
  <p>Title: <%= book_detail.title%></p>
  <p>Author: <%= book_detail.author.name%></p>
  <p>Subject: <%= book_detail.subject.name%></p>
  <p>Description: <%= book_detail.description%></p>
  <p>Publisher: <%= book_detail.publisher%></p>
  <p>Publish Date: <%= book_detail.publish_date%></p>
  <p>Page Numbers: <%= book_detail.page_numbers%></p>
  <p>Price: <%= book_detail.price%></p>
  <p>Quantity: <%= book_detail.quantity%></p>
  <p>ISBN 10: <%= book_detail.ISBN_tenDigits%></p>
  <p>ISBN 13: <%= book_detail.ISBN_thirteenDigits%></p>
  <p>Cover Picture Path: <%= book_detail.coverPicturePath %></p>
  <p>Unique Barcode: <%= book_detail.uniqueBarcode %></p>
<a href="/books/<%= book_detail.id %>/delete">Delete</a>
<a href="/books/<%= book_detail.id %>/update">Update</a>
<form action="/cart">
  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" value="1">
  
  <input type="hidden" name="BookId" id="BookId" value="<%= book_detail.id %>">
  <button type="submit">Add to cart</button>
</form>