<h1><%= title %></h1>
<ul>
<% for(value of book_list) { %>
  <li>
    <a href="/books/<%= value.id %>/">Id: <%= value.id %></a> <br>
    <p>Title: <%= value.title %></p>
    <p>Author: <%= value.author.name %></p>
    <p>Description: <%= value.description %></p>
    <p>Page Number: <%= value.page_numbers %></p>
    <p>ISBN 13: <%= value.ISBN_thirteenDigits %></p>
  </li>
<% } %>
</ul>
<a href="/books/create">Create Book</a>