  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e714a688f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Book Collection</title>
    <%- include('navigationBar.ejs') %>
  </head>
  <body>
    <div class="container py-5">
      <!-- For Demo Purpose-->
      <header class="text-center mb-5">
        <h1 class="display-4 font-weight-bold">Book Collection</h1>
        <p class="font-italic text-muted mb-0">
          "A word after a word after a word is power." – Margaret Atwood</p>
      </header>
      <!-- First Row [Prosucts]-->
      <h2 class="font-weight-bold mb-2">From the Shop</h2>
      <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <div class="row pb-5 mb-4">
      <% for(let book of book_list) { %>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
              <div class="card-body p-4">
                <a href="/books/<%= book.id %>"><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3"> </a>
                <h5> <a href="/books/<%= book.id %>" class="text-dark"><%= book.title %> - <%= book.author.name %></a></h5>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul class="list-inline small">
                  <!-- Print star when rating = 0-->
                  <% if(book.rating == 0) { %>
                      <% for(let i = 0; i < 5; i++) { %>
                          <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                      <% } %>
                  <% } else { %>
                    <!-- Print Integral part-->
                      <% for(let i = 0; i < book.ratingIntegralPart; i++) { %>
                          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                      <% } %>
                    <!-- Print Fractional part -->
                      <% if(book.ratingFractionalPart < 0.5) { %>
                           <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                      <% } %>
                      <% if(book.ratingFractionalPart > 0.5) { %>
                           <li class="list-inline-item m-0"><i class="fa fa-star-half text-success"></i></li>
                      <% } %>
                      <!-- Print the rest of star -->
                       <% if (book.ratingIntegralPart < 4) { %>
                          <% for( let i = 0; i < 4 - book.ratingIntegralPart; i++ ) { %>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                          <% } %>
                       <% } %>
                  <% } %>
                </ul>
              </div> 
            </div>
          </div>
        
      <% } %>
    </div>
  </body>
  </html>
