<h1><%= title %></h1>
<ul>
    <%= for(let value of feedbackList) { %>
        <li><a href="/feedbacks/<%= value.id %>">ObjectID: <%= value.id %></a></li>
        <li>Name: <%= value.name %></li>
        <li>Email: <%= value.email %></li>
        <li>Review status: <%= value.feedbackMessage %></li>
    <% } %>
</ul>