<h1><%= title %></h1>
<ul>
    <% for(let import_log of import_list) { %>
        <li>
            <p>Import Id: <%= import_log.id %> </p>
            <a href="/users/<%= import_log.managerId.id %>">Manager name: <%= import_log.managerId.name %></a> <br>
            <a href="/books/<%= import_log.bookId.title %>">Book Title: <%= import_log.bookId.title %></a> <br>
            <p>Date taken: <%= import_log.createdAt %></p>
            <p>Modified at: <%= import_log.updatedAt %></p>
            <p>Import quantity: <%= import_log.quantity %></p>
            <form method="post" action="/imports/<%= import_log.id %>/delete">
                <button type ="submit">Delete</button>
            </form>
            <form method="post" action="/imports/<%= import_log.id %>/update">
                <button type="submit">Update</button>
            </form>
        </li>
    <% } %>
</ul>

<a href="/imports/create">Create Import</a>