<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <h1>Your Orders</h1>

</head>

<body>
    <% for(let order of order_list) { %>
        <ul>
            <li>
                id: <a href="/orders/<%= order.id %>">
                    <%= order.id %>
                </a>
            </li>
            <li>Member id: <%= order.memberId %>
            </li>
            <li>Order status: <%= order.orderStatus %>
            </li>
            <li>Order preparer: <%= order.orderPreparer %>
            </li>
            <li>Create at: <%= order.createdAt %>
            </li>
            <li>Update at: <%= order.updatedAt %>
            </li>
        </ul>
        <% } %>
</body>

</html>