<h4><%= title %></h4>
<p>User Name: <%= user.username %></p>
<form method="post" action="">
    <br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" value=""><br>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" placeholder="Enter your name" value="<%= user.name %>"><br> 
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" placeholder="Enter your email" value="<%= user.email %>"><br>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter your Phone Number" value="<%= user.phoneNumber %>"><br>
    <label for="address">Address:</label>
    <input id="address" name="address" type="text" placeholder="Enter your address" value="<%= user.address %>"><br>
   
    <p>Current Role: <%= user.role %></p>
    <label for="Admin">Admin</label>
    <input type="radio" id="Admin" name="role" value="Admin" <% if (user.role == "Admin") { %>
        checked
    <% } %>>
    <label for="User">User</label>
    <input type="radio" id="User" name="role" value="User" <% if (user.role == "User") { %>
        checked
    <% } %>>
    <label for="Librarian">Librarian</label>
    <input type="radio" id="Librarian" name="role" value="Librarian" <% if (user.role == "Librarian") { %>
        checked
    <% } %>>

    <p>Current Verification Status: <%= user.verificationStatus %> %></p>
    <label for="true">True</label>
    <input id="true" name="verificationStatus" value="true" type="radio" <% if (user.verificationStatus == true) { %>
        checked
    <% } %>>
    <label for="false">False</label>
    <input id="false" name="verificationStatus" value="false" type="radio" <% if (user.verificationStatus == false) { %>
        checked
    <% } %>><br>

    <label for="profilePicture">Profile Picture:</label>
    <input id="profilePicture" name="profilePicture" type="text" placeholder="Picture url"><br>
   
    <p>Current Delete Status: <%= user.deleteStatus %></p>
    <label for="true">True</label>
    <input id="true" name="deleteStatus" value="true" type="radio" <% if (user.deleteStatus == true) { %>
        checked
    <% } %>>
    <label for="false">False</label>
    <input id="false" name="deleteStatus" value="false" type="radio" <% if (user.deleteStatus == false) { %>
        checked
    <% } %>><br>

    <label for="deleteReason">Delete Reason</label>
    <textarea id="deleteReason" name="deleteReason" rows="4" cols="50"><%= user.deleteReason %></textarea><br>
    <button type="submit">Submit</button>
</form>