<h1>User Detail</h1>
<%= user_information %>
<p>Username:<%= user_information.username %></p>
<p>Password:<%= user_information.password %></p>
<p>Name:<%= user_information.name %></p>
<p>Email:<%= user_information.email %></p>
<p>Phone Number:<%= user_information.phoneNumber %></p>
<p>Address:<%= user_information.Address %></p>
<p>Role:<%= user_information.Role %></p>
<p>Verification Status:<%= user_information.VerificationStatus %></p>
<p>Profile Picture:<%= user_information.profilePicture %></p>
<p>Delete Status:<%= user_information.deleteStatus %></p>
<p>Delete Reason:<%= user_information.deleteReason %></p>